/* Reset de estilos */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #fffacd;
    color: #333;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: #ffffff;
    border-bottom: 2px solid #ccc;
}

header .logo {
    height: 60px;
}

header nav a {
    margin: 0 15px;
    text-decoration: none;
    color: #333;
    font-weight: bold;
}

header .logout {
    text-decoration: none;
    color: #FFC0CB;
    font-weight: bold;
}

.search-bar {
    display: flex;
    justify-content: center;
    padding: 20px;
    gap: 10px;
}

.search-bar input[type="text"] {
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    width: 200px;
}

.search-bar button {
    padding: 8px 12px;
    background-color: #62959a;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 40px;
    gap: 20px;
}

.leyendas-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
}

.leyenda-card {
    background-color: #f0f3ff;
    padding: 20px;
    width: 300px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    cursor: pointer; /* Indicar que es interactivo */
    transition: transform 0.2s, box-shadow 0.2s;
}

.leyenda-card:hover {
    transform: scale(1.05);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
}

/* Estilo para las tarjetas seleccionadas */
.leyenda-card.selected {
    border: 2px solid #62959a;
    box-shadow: 0 4px 12px rgba(98, 149, 154, 0.5);
}

.leyenda-card img {
    width: 100%;
    border-radius: 8px;
    object-fit: cover;
    margin-bottom: 15px;
}

.leyenda-card h2 {
    font-size: 1.5rem;
    color: #62959a;
    margin-bottom: 10px;
}

.leyenda-card p {
    font-size: 1rem;
    color: #555;
}

.leyenda-card {
    background-color: #f0f0f0;
    padding: 10px;
    margin: 10px;
    border-radius: 8px;
    text-align: center;
}

.leyenda-card button {
    background-color: #007bff;
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 5px;
    font-size: 16px;
    transition: background-color 0.3s;
}

.leyenda-card button:hover {
    background-color: #0056b3;
}
