body {
    font-family: 'Open Sans', sans-serif;
    background-color: #E6E6FA; /* Lavanda */
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.recover-container {
    background-color: #FFFFFF;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.2);
    width: 300px;
    text-align: center;
}

.recover-container .logo {
    width: 100px;
    margin-bottom: 20px;
}

.recover-container h2 {
    font-family: 'Libre Baskerville', serif;
    margin-bottom: 20px;
    color: #FFC0CB; /* Rosa */
}

.recover-container input[type="email"] {
    font-family: 'Open Sans', sans-serif;
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.recover-container input[type="submit"] {
    font-family: 'Nunito', sans-serif;
    width: 100%;
    padding: 10px;
    background-color: #98FF98; /* Verde claro */
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
}

.recover-container input[type="submit"]:hover {
    background-color: #ADD8E6; /* Azul claro */
}

.recover-container .options {
    text-align: center;
    margin-top: 10px;
}

.recover-container .options a {
    font-family: 'Nunito', sans-serif;
    text-decoration: none;
    color: #FFC0CB; /* Rosa */
    margin: 0 10px;
}

.recover-container .options a:hover {
    text-decoration: underline;
}
